@using PagedList.Mvc;
@model PagedList.IPagedList<DevOpportunity.Orders>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Orders.</h2>

<table class="table table-striped table-hover table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().RequiredDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ShippedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Freight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ShipName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ShipAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ShipCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ShipRegion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ShipPostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ShipCountry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Customers.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Employees.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ShipVia)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr style="cursor:pointer" onclick="location.href = '@(Url.Action("Details", "Orders", new { id=item.OrderID}))'">
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequiredDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Freight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipRegion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipPostalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipCountry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customers.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employees.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shippers.CompanyName)
        </td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Details", new { page, id = ViewBag.CustomerID }))
